

// Dimensions
// --------------------------------------
$gutter: 25px;
$standard-width: 1000px;


// Colours
// --------------------------------------
$grey-smoke: #f5f5f5;
$grey-steel: #666;
$grey-charcoal: #111;
$brand-teal: #07977F;